@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Rubik:ital,wght@0,500;1,600&family=Shadows+Into+Light&family=Noto+Sans&family=Poppins:wght@400;500;600;700;800;900&display=swap&family=Roboto&display=swap');

/*
====================
Basic Layout
====================
*/
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: auto;
  margin-top: 2rem;
}

/*
====================
Navbar
====================
*/
html,body{
    height: 100%;
    margin: 0;
}

.navbar-custom {
    background-color: #E3F2FD;
    background-image: url("../Images/9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #F5BB83;
}

.navbar-brand img{
    padding-right: 10px;
    width: 145px;
    height: 48px;
}

.nav-link {
    color: #037a03;
    font-size: 20px;
    font-weight: 450;
}

#navbar .btn {
    height: 37px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
}

.btn:focus {
    box-shadow: 0px 0px 4px #4195fc;
}

.nav-item a:hover {
    color: #363436;
    font-weight: 470;
}

.active {
    color: #ffffff;
}

/*
====================
Home
====================
*/
.home-content {
    padding-bottom: 50px;
}

.home-content .card {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}

.home-content .card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.home-content .card a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.home-content .card a:hover {
    text-decoration: none;
    color: #000000;
}

.home-content .card img {
    height: 150px;
}

.carousel .carousel-inner {
    height: 400px;
}

.carousel-inner .carousel-item img {
    min-height: 200px;
    object-fit: cover;
}

/*
====================
MSP Table
====================
*/
.msp-content {
    padding: 70px 60px 60px 60px;
    background-image: url("../Images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.msp-content h2 {
    font-size: 34px;
    color: #001a00;
}

.msp-content h3 {
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-size: 23px;
    color:  #043a04;
    font-style: italic;
}

.msp-content p {
    padding: 0px 2px 5px 8px ; 
    color: #172917;
    font-style: italic;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #90cc90; 
}

.tab {
    background: #d8fcd8;
}

.c {
    text-align: center !important;
}

/*
====================
Schemes
====================
*/
.schemes-content {
    padding: 60px 50px 50px 80px;
    background-image: url("../Images/b3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.schemes-content h2 {
    font-size: 42px;
    margin: 0px 0px 30px 0px;
    text-align: center;
    color: #043a04;
}

.schemes-content .card {
    width: 70%;
    margin: auto;
}

.schemes-content .card-body h5 {
    font-size: 20px;
    font-weight: 600;
    color: #023002;
    margin: 0 0 10px;
    padding: 0;
}

.schemes-content .card-body p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;
}

.schemes-content .card-body a {
    font-size: 14px;
    color: #0ace0a;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #0ace0a;
    transition: all .5s ease;
}

.schemes-content .card-body .arrow {
    border: solid #0ace0a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.2px;
    margin-bottom: 1px;
}

.schemes-content .card-body .right {
    transform: rotate(-45deg);
}

.schemes-content .card-body .arrow:hover {
    color:  #036d03;
    border-color:  #036d03;
}

.schemes-content .card-body a:hover {
    color:  #036d03;
    border-color:  #036d03;
}

/*
====================
Scheme Detail Page
====================
*/
#sc-container {
    min-height: 92.8%;
    background-image: url("../Images/a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 33px;
}

.scheme-content {
    padding: 3% 23.5% 0% 12%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.scheme-content .text .arrow {
    border: solid #035f03;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5.5px;
    margin-bottom: 4px;
}

.scheme-content .text .right {
    transform: rotate(-45deg);
}

.scheme-content .text h2 {
    padding-bottom: 10px;
    color: #141313;
    font-weight: 500;
}

.scheme-content .text .sub-h {
    font-size: 19px;
    color:  #043a04;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Noto Sans', sans-serif; 
    font-size: 16px;
    color: #272424;
    font-weight: 600;
    animation: animated-text 3s steps(30,end) 1s 1 normal both;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}


/*
====================
Footer
====================
*/
footer {
    border-top: 1px solid #000;
    background-color: #E3F2FD;
    background-image: url("../Images/10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #F5BB83;
    text-align: center;
    position: relative;
    padding: 10px;
    line-height: 11px;  
}

.Logo .TeamName {
    font-size: 28px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: 6px;
}

.Logo img { 
    position: relative;
    top: -1px;
    width: 32px;
    height: 30px;
}

.copyright {
    color: #d6d4d4;
    padding: 3px;
    top: 3px;
}
